<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.UserDao">
	<!--登录  -->
	<select id="login" resultType="hashmap">
	select UserId,Email,FirstName,LastName,RoleId from users where email=#{email} and password=#{password}
	</select>
	<!--通过邮箱查询用户信息（查看邮箱时是否存在）  -->
	<select id="findByEmail" resultType="hashmap">
		select * from users where email=#{email}
	</select>
	<!--修改密码  -->
	 <update id="updatePassword">
	 	update users set password = #{password} where userId=#{userId}
	 </update>
	 <!--通过用户id查询用户信息  -->
	 <select id="findByUserId" resultType="hashmap">
	 	select * from users where userId = #{userId}
	 </select>
	 <!--查询所有用户信息  （分页）-->
	 <select id="userList" resultType="hashmap">
	 select * from users where (firstName like '%${name}%' or lastName like '%${name}%') order by FirstName limit #{startPage},#{pageSize}
	 </select>
	 <!--查询用户，通过分页和角色id  -->
	 <select id="userByPageSizeAndRoleId" resultType="hashmap">
	 	select * from users where roleId=#{roleId} and (firstName like '%${name}%' or lastName like '%${name}%') order by FirstName  limit #{startPage},#{pageSize}
	 </select>
	 <!--总条数  -->
	 <select id="total" resultType="Integer">
	   select count(*) from users where (firstName like '%${name}%' or lastName like '%${name}%')
	 </select>
	 
	  <select id="totalByPageSizeAndRoleId" resultType="Integer">
	   select count(*) from users where (firstName like '%${name}%' or lastName like '%${name}%') and roleId=#{roleId} 
	 </select>
	<!--  	//addUser?email=param1&firstName=param2&
	//lastName=param3&gender=param4&dateOfBirth=param5&phone=param6&photo=param7&address=param8&roleId=param9-->
	<!--用户增加  -->
	<insert id="addUser">
		insert into users(email,password,firstName,lastName,gender,dateOfBirth,phone,photo,address,roleId) 
		values(#{email},#{password},#{firstName},#{lastName},#{gender},#{dateOfBirth},#{phone},#{photo},#{address},#{roleId})
	</insert>
	
</mapper>