<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
	
	<!--注解扫描包 edu.wtbu.controller -->
	<context:component-scan
		base-package="com.demo.controller" />

	<!--配置mvc注解驱动,例如@resquestmapping这类的 -->
 	 <mvc:annotation-driven /> 
		
	  <!--处理静态资源，允许访问css、js 例如：.css、 .js、.mp4等-->
	<mvc:default-servlet-handler/>

</beans>
